<!-- MAIN PAGE INDEX -->
<% include ../partials/header %>
<% include ../partials/nav %>
<% include ../partials/bodyTop %>
<h3>Main Menu</h3>
<section id="menu">
	<div class="row container m-auto p-0">
		<% if (permissions.access_issues && currentUser.user_id !== 1) { %>
			<div class="bordered col-6 col-sm-4 p-3 menu_item">
				<a id="users" href="stores/issues/userlist"><i class="fas fa-address-card fa-5x"></i></a><br>
				<a id="issued" href="stores/issues/userlist">Issuing</a>
			</div>
		<% } else { %>
			<div class="bordered col-6 col-sm-4 p-3 menu_item">
				<a id="users" href="stores/issues?users=<%= currentUser.user_id %>"><i class="fas fa-address-card fa-5x"></i></a><br>
				<a id="issued" href="stores/issues?users=<%= currentUser.user_id %>">Issuing</a>
			</div>
		<% } %>
		<% if (permissions.access_users) { %>
			<div class="bordered col-6 col-sm-4 p-3 menu_item">
				<a id="users" href="stores/users"><i class="fas fa-user fa-5x"></i></a><br>
				<a id="users" href="stores/users">Users</a>
			</div>
		<% } else { %>
			<div class="bordered col-6 col-sm-4 p-3 menu_item">
				<a id="users" href="stores/users/<%= currentUser.user_id %>"><i class="fas fa-user fa-5x"></i></a><br>
				<a id="users" href="stores/users/<%= currentUser.user_id %>">Users</a>
			</div>
		<% } %>
		<% if (permissions.access_items) { %>
			<div class="bordered col-6 col-sm-4 p-3 menu_item">
				<a id="users" href="stores/items"><i class="fas fa-tshirt fa-5x"></i></a><br>
				<a id="items" href="stores/items">Items</a>
			</div>
		<% } %>
		<% if (permissions.access_orders) { %>
			<div class="bordered col-6 col-sm-4 p-3 menu_item">
				<a id="users" href="stores/orders"><i class="fas fa-list fa-5x"></i></a><br>
				<a id="orders" href="stores/orders">Orders</a>
			</div>
		<% } %>
		<% if (permissions.access_requests) { %>
			<div class="bordered col-6 col-sm-4 p-3 menu_item">
				<a id="users" href="stores/requests"><i class="fas fa-clipboard-list fa-5x"></i></a><br>
				<a id="requests" href="stores/requests">Requests</a>
			</div>
		<% } %>
		<% if (permissions.access_loan_cards) { %>
			<div class="bordered col-6 col-sm-4 p-3 menu_item">
				<a id="users" href="stores/loanCards"><i class="fas fa-list-ol fa-5x"></i></a><br>
				<a id="loancards" href="stores/loanCards">Loan Cards</a>
			</div>
		<% } %>
		<% if (permissions.access_suppliers) { %>
			<div class="bordered col-6 col-sm-4 p-3 menu_item">
				<a id="users" href="stores/suppliers"><i class="fas fa-warehouse fa-5x"></i></a><br>
				<a id="suppliers" href="stores/suppliers">Suppliers</a>
			</div>
		<% } %>
		<% if (permissions.access_reports) { %>
			<div class="bordered col-6 col-sm-4 p-3 menu_item">
				<a id="users" href="stores/reports"><i class="fas fa-chart-pie fa-5x"></i></a><br>
				<a id="settings" href="stores/reports">Reports</a>
			</div>
		<% } %>
		<% if (permissions.access_settings) { %>
			<div class="bordered col-6 col-sm-4 p-3 menu_item">
				<a id="users" href="stores/settings"><i class="fas fa-cog fa-5x"></i></a><br>
				<a id="settings" href="stores/settings">Settings</a>
			</div>
		<% } %>
	</div>
</section>
<% include ../partials/bodyBottom %>
<% include ../partials/footer %>
<% include ../partials/footjs %>
<% include ../partials/htmlBottom %>
