<!-- MAIN PAGE INDEX -->
<% include ../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">Stores</a>
            </li>
        </ul>
    </nav>
</section>
<section id="menu">
	<div class="row container m-auto p-0">
		<% if (permissions.access_suppliers) { %>
			<div class="bordered col-6 col-sm-4 p-3 menu_item">
				<a href="stores/suppliers"><i class="fas fa-warehouse fa-5x"></i></a><br>
				<a href="stores/suppliers">Suppliers</a>
			</div>
		<% } %>
		<% if (permissions.access_users) { %>
			<div class="bordered col-6 col-sm-4 p-3 menu_item">
				<a href="stores/users"><i class="fas fa-user fa-5x"></i></a><br>
				<a href="stores/users">Users</a>
			</div>
		<% } else { %>
			<div class="bordered col-6 col-sm-4 p-3 menu_item">
				<a href="stores/users/<%= currentUser.user_id %>"><i class="fas fa-user fa-5x"></i></a><br>
				<a href="stores/users/<%= currentUser.user_id %>">Users</a>
			</div>
		<% } %>
		<% if (permissions.access_items) { %>
			<div class="bordered col-6 col-sm-4 p-3 menu_item">
				<a href="stores/items"><i class="fas fa-tshirt fa-5x"></i></a><br>
				<a href="stores/items">Items</a>
			</div>
		<% } %><% if (permissions.access_issues) { %>
			<div class="bordered col-6 col-sm-4 p-3 menu_item">
				<a href="stores/issues"><i class="fas fa-address-card fa-5x"></i></a><br>
				<a href="stores/issues">Issues</a>
			</div>
			<% } %>
		<% if (permissions.access_orders) { %>
			<div class="bordered col-6 col-sm-4 p-3 menu_item">
				<a href="stores/orders"><i class="fas fa-list fa-5x"></i></a><br>
				<a href="stores/orders">Orders</a>
			</div>
		<% } %>
		<% if (permissions.access_requests) { %>
			<div class="bordered col-6 col-sm-4 p-3 menu_item">
				<a href="stores/requests"><i class="fas fa-clipboard-list fa-5x"></i></a><br>
				<a href="stores/requests">Requests</a>
			</div>
		<% } %>
		<% if (permissions.access_loancards) { %>
			<div class="bordered col-6 col-sm-4 p-3 menu_item">
				<a href="stores/loanCards"><i class="fas fa-list-ol fa-5x"></i></a><br>
				<a href="stores/loanCards">Loan Cards</a>
			</div>
		<% } %>
		<% if (permissions.access_reports) { %>
			<div class="bordered col-6 col-sm-4 p-3 menu_item">
				<a href="stores/reports"><i class="fas fa-chart-pie fa-5x"></i></a><br>
				<a href="stores/reports">Reports</a>
			</div>
		<% } %>
		<% if (permissions.access_settings) { %>
			<div class="bordered col-6 col-sm-4 p-3 menu_item">
				<a href="stores/settings"><i class="fas fa-cog fa-5x"></i></a><br>
				<a href="stores/settings">Settings</a>
			</div>
		<% } %>
	</div>
</section>
<% include ../partials/foot/full %>
<% include ../partials/foot/htmlClose %>
