<!-- MAIN PAGE INDEX -->
<% include ../partials/header %>
<% include ../partials/nav %>
<% include ../partials/bodyTop %>
<h3>Main Menu</h3>
<section id="menu">
	<div class="row container m-auto p-0">
		<div class="bordered col-6 col-sm-4 p-3 menu_item">
			<a id="users" href="stores/users"><i class="fas fa-address-card fa-5x"></i></a><br>
			<a id="issued" href="stores/issued">Issuing</a>
		</div>
		<div class="bordered col-6 col-sm-4 p-3 menu_item">
			<a id="users" href="stores/users"><i class="fas fa-user fa-5x"></i></a><br>
			<a id="users" href="stores/users">Users</a>
		</div>
		<div class="bordered col-6 col-sm-4 p-3 menu_item">
			<a id="users" href="stores/users"><i class="fas fa-tshirt fa-5x"></i></a><br>
			<a id="items" href="stores/items">Items</a>
		</div>
		<div class="bordered col-6 col-sm-4 p-3 menu_item">
			<a id="users" href="stores/users"><i class="fas fa-list fa-5x"></i></a><br>
			<a id="orders" href="stores/orders">Orders</a>
		</div>
		<div class="bordered col-6 col-sm-4 p-3 menu_item">
			<a id="users" href="stores/users"><i class="fas fa-clipboard-list fa-5x"></i></a><br>
			<a id="requests" href="stores/requests">Requests</a>
		</div>
		<div class="bordered col-6 col-sm-4 p-3 menu_item">
			<a id="users" href="stores/users"><i class="fas fa-list-ol fa-5x"></i></a><br>
			<a id="loancards" href="stores/loanCards">Loan Cards</a>
		</div>
		<div class="bordered col-6 col-sm-4 p-3 menu_item">
			<a id="users" href="stores/users"><i class="fas fa-warehouse fa-5x"></i></a><br>
			<a id="suppliers" href="stores/suppliers">Suppliers</a>
		</div>
		<div class="bordered col-6 col-sm-4 p-3 menu_item">
			<a id="users" href="stores/users"><i class="fas fa-cog fa-5x"></i></a><br>
			<a id="settings" href="stores/settings">Settings</a>
		</div>
	</div>
</section>
<% include ../partials/bodyBottom %>
<% include ../partials/footer %>
<% include ../partials/footjs %>
<% include ../partials/htmlBottom %>
