<li class='nav-item'>
    <a
        class='nav-link'
        <% if (locals.href) { %> href='<%= href %>'<% } %>
        <% if (!locals.text) { %>id='<%= locals.id || 'breadcrumb' %>'<% } %>
    >
        <%- locals.text || '' %>
    </a>
</li>