<li class='nav-item'>
    <a
        class='nav-link'
        <% if (locals.href) { %> href='<%= href %>'<% } %>
        id='<%= locals.id || 'breadcrumb' %>'
    >
        <%- locals.text || '' %>
    </a>
</li>