<% if (!locals.permission || permissions[permission]) { %>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3"<% if (locals.id) { %>id='crd_<%= id %>'<% } %>>
        <div class="card m-3">
            <a href="<%= locals.href || '' %>">
                <div class="card-header">
                    <h3><%= title %></h3>
                </div>
                <div class="card-body">
                    <i class="fas fa-<%= image %> fa-5x"></i>
                </div>
            </a>
        </div>
    </div>
<% } %>