<div class="dropdown-divider"></div>
<form id='deleteForm'>
    <button class="dropdown-item dropdown_button confirm">
        Delete
    </button>
</form>
<script>
    window.addEventListener( "load", () => {
        addFormListener(
            'deleteForm',
            'DELETE',
            '/stores/' + path[2] + '/' + path[3],
            {redirect: '/stores/' + path[2]}
        );
    });
</script>