<form id='deleteForm'>
    <button class="dropdown-item dropdown_button confirm">
        Delete
    </button>
</form>
<script>
    window.onload = () => {
        addFormListener(
            'deleteForm',
            'DELETE',
            `/${path[1]}/${path[2]}/${path[3]}`,
            {<% if (locals.close) { %>
                onComplete: window.opener['<%- onComplete %>'],
                _close: true
            <% } else { %>
                redirect: <% if (locals.redirect) { %>'<%= redirect %>'<% } else { %>`'/${path[1]}/${path[2]}`<% } %>
            <% } %>}
        );
    };
</script>