<a class='dropdown-item' id='editButton'>
    Edit
</a>
<script>
    let editButton = document.querySelector('#editButton');
    editButton.href = 'javascript:edit("' + path[2] + '",' + path[3] + ')'
</script>