</section>
<nav class="navbar fixed-bottom navbar-expand-md navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#pageFoot" aria-controls="pageFoot" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="pageFoot">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/resources">Resources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.facebook.com/1801SquadronATC/"><img class="fb" src="/images/icons/fb_logo.png" alt="facebook.com/"> @1801SquadronATC</a>
            </li>
        </ul>
    </div>
</nav>