<button class="btn btn-primary float-start fixed" type="button" data-bs-toggle="offcanvas" data-bs-target="#sdb<%= id %>" aria-controls="sdb<%= id %>">
    <% if (locals.text) { %>
        <%= text %>
    <% } else if (locals.html) { %>
        <%- html %>
    <% } %>
</button>