<% if (locals.includeRow) { %><div class="row mb-1 justify-content-end"><% } %>
    <div class="col-12 col-md-4 mb-1">
        <div class="input-group input-group-sm">
            <label class="input-group-text w-30" for="sort_<%= table %>">Sort By</label>
            <select class="form-select" id="sort_<%= table %>"></select>
            <select class='form-select' id='sort_<%= table %>_dir'>
                <option value="ASC" >Ascending </option>
                <option value="DESC">Descending</option>
            </select>
        </div>
    </div>
<% if (locals.includeRow) { %></div><% } %>