<div class="float-end mb-1">
    <div class="row">
        <div class="col-6">
            <span>
                <label for="sort_<%= table %>">Sort By:</label>
            </span>
            <span>
                <select class='form-select form-select-sm' id='sort_<%= table %>'></select>
            </span>
        </div>
        <div class="col-6">
            <span>
                <label for="sort_<%= table %>_dir">Direction:</label>
            </span>
            <span>
                <select class='form-select form-select-sm' id='sort_<%= table %>_dir'>
                    <option value="ASC" >Ascending</option>
                    <option value="DESC">Descending</option>
                </select>
            </span>
        </div>
    </div>
</div>