<div
    id='spn_<%= id %>'
    class="spinner-border text-primary hidden<% if (locals.small) { %> spinner-border-sm<% } %><% if (locals.float_end === true) { %> float-end<% } %><% if (locals.float_start === true) { %> float-start<% } %>"
    role="status"
>
    <span class="sr-only">Loading...</span>
</div>