<div
    id='spn_<%= id %>'
    class="spinner-border text-primary hidden<% if (locals.small) { %> spinner-border-sm<% } %><% if (locals.float_right) { %> float-right<% } %><% if (locals.float_left) { %> float-left<% } %>"
    role="status"
>
    <span class="sr-only">Loading...</span>
</div>