<% if (!locals.permission || permissions[permission]) { %> 
    <button
        class='dropdown-item'
        <% if (locals.id) { %>
            id='btn_<%= id %>'
        <% } %>
        <% if (locals.form) { %>
            form='form_<%= form %>'
        <% } %>
        <% if (locals.modal) { %>
            data-toggle="modal"
            data-target="#mdl_<%= modal %>"
        <% } %>
        disabled
    >
        <%= text %>
    </button> 
<% } %>