<% if (permissions[permission]) { %><form id='form_complete'><% } %>
    <button id='btn_complete' class='dropdown-item confirm' disabled>Complete</button>
<% if (permissions[permission]) { %></form><% } %>