<div class="dropdown-divider"></div>
<% if (permissions[permission]) { %><form id='form_delete'><% } %>
    <button id='btn_delete' class="dropdown-item confirm" disabled>Cancel</button>
<% if (permissions[permission]) { %></form><% } %>