<% if (locals.permission && permissions[permission]) { %><form id='form_delete'><% } %>
    <button id='btn_delete' class="dropdown-item" disabled><%= locals.text || 'Cancel' %></button>
<% if (locals.permission && permissions[permission]) { %></form><% } %>