<% include ../../partials/head/full %>
<section class='mb-2'>
	<nav class='navbar navbar-expand navbar-light bg-nav'>
		<ul class='navbar-nav mr-auto'>
			<li class='nav-item'>
				<a class='nav-link stores_nav' href='/stores'>
					Stores
				</a>
			</li>
			<li class='nav-item'>
				<a class='nav-link stores_nav' href='/stores/orders'>
					Orders
				</a>
			</li>
			<% if (permissions.order_add) { %>
				<li class='nav-item'>
					<a class='nav-link stores_nav cardGreen' href='/stores/orders/new?user=-1'>
						<i class='fas fa-plus'></i>
					</a>
				</li>
			<% } %>
		</ul>
	</nav>
</section>
<section class='container'>
	<% if (permissions.demand_line_add) { %>
		<form class='mb-2' id='demandForm'>
			<div class="input-group">
				<div class="input-group-prepend w-25">
					<button class="btn btn-success text-left w-100 confirm">Demand Orders for</button>
				</div>
				<select class="custom-select" name='supplier_id'>
					<% suppliers.forEach(supplier => { %>
						<option value='<%= supplier.supplier_id %>'><%= supplier._name %></option>
					<% }); %>
				</select>
			</div>	
		</form>
	<% } %>
	<div class="input-group mb-2">
		<div class="input-group-prepend w-25">
			<label class="input-group-text w-100" for="sel_complete">Completed Orders</label>
		</div>
		<select class="custom-select" id='sel_complete' onchange=getOrders()>
			<option value='1' selected>Include</option>
			<option value='2'>Exclude</option>
			<option value='3'>Only</option>
		</select>
	</div>
	<div class="input-group mb-2">
		<div class="input-group-prepend w-25">
			<label class="input-group-text w-100" for="sel_closed">Closed Orders</label>
		</div>
		<select class="custom-select" id='sel_closed' onchange=getOrders()>
			<option value='1'>Include</option>
			<option value='2' selected>Exclude</option>
			<option value='3'>Only</option>
		</select>
	</div>
	<div id='spn_orders' class="spinner-border text-primary" role="status">
		<span class="sr-only">Loading...</span>
	</div>
	<table class='table table-sm table-hover'>
		<thead class='thead-dark'>
			<th class='w-35' onclick='sortTable(0, "orderTable")'>Ordered For</th>
			<th class='w-35' onclick='sortTable(1, "orderTable")'>Order Date</th>
			<th class='w-10' onclick='sortTable(2, "orderTable")'>Lines</th>
			<th class='w-10'>Complete</th>
			<th class='w-10'>Closed</th>
			<th><i class='fas fa-search'></i></th>
		</thead>
		<tbody id='orderTable'>
		</tbody>
	</table>
</section>
<% include ../../partials/foot/full %>
<script src="/js/specific/orders_index.js"></script>
<script>
    window.addEventListener( "load", function () {
		<% if (permissions.demand_line_add) { %>
			addFormListener('demandForm', 'PUT', '/stores/orders/addtodemand',{reload: true});
		<% } %>
	<% }) %>
	<% if (download) { %>
		download_file('<%= download %>');
	<% } %>
</script>
<script async>getOrders()</script>
<% include ../../partials/foot/htmlClose %>