<table class="table table-sm table-hover mx-auto w-100">
    <thead id='table_header_lines' class="thead-dark">
        <th class='w-35' onclick="sortTable(0, 'tbl_lines')">Item</th>
        <th class='w-35' onclick="sortTable(1, 'tbl_lines')">Size</th>
        <th class='w-10' onclick="sortTable(2, 'tbl_lines')">Qty</th>
        <th class='w-20' onclick="sortTable(3, 'tbl_lines')">Status</th>
        <th><i class='fas fa-search'></i></th>
    </thead>
    <tbody id="tbl_lines"></tbody>
</table>