<% include partials/head/full %>
<h1>Welcome to 1801 Alnwick Sqn</h1>

<h2><a href="/stores">Stores<a><h2>
<h2><a href="/canteen">Canteen<a><h2>

<% include partials/foot/full %>
<% include partials/foot/htmlClose %>
