<% include partials/header %>
<% include partials/nav %>
<% include partials/bodyTop %>
<h1>Welcome to 1801 Alnwick Sqn</h1>

<h2><a href="/stores">Stores<a><h2>

<% include partials/bodyBottom %>
<% include partials/footer %>
<% include partials/footjs %>
<% include partials/htmlBottom %>
