<% include partials/header %>
<% include partials/nav %>
<% include partials/bodyTop %>
<h2>Stores Management</h2>
<h3>Login:</h3>
<form action="/login" method="post">
	<p><label for="username">Username</label></p>
	<p><input id="username" type="text" name="_login_id" placeholder="Username" required></p>
	<p><label for="password">Password</label></p>
	<p><input id="password" type="password" name="_password" placeholder="Password" required></p>
	<p><button>Log In</button></p>
</form>
<% include partials/bodyBottom %>
<% include partials/footer %>
<% include partials/footjs %>
<% include partials/htmlBottom %>