<% include partials/head/full %>
<h2>Resources</h2>
<section class="container">
    <h3>Publications</h3>
    <ul class="text-left">
        <li>
            <a href="https://rafac.sharepoint.com/:w:/s/interim/QM/Eex9QL5dFdpFgeS8CaEcCdQBcfqkKVmQQFGM8_LNTDE0rw?e=TUtYTi&web=1">
                PI 501 - ATC Cadet Code of Conduct
            </a>
        </li>
        <li>
            <a href="https://rafac.sharepoint.com/:w:/s/interim/QM/EfTIkp4w2QtLjBxb6Y-_v9sBfYkI0wFlXZSx1CEeQGUzNw?e=e3Rded&web=1">
                ACP1 - Ethos, Core Values and Standards in the Air Cadet Organisation
            </a>
        </li>
        <li>
            <a href="https://rafac.sharepoint.com/:w:/s/interim/QM/EfxLZizAK2JNi3v6oNUENmABhoPI19AQTS7ad1JrE6Zq0g?e=ZM26sO&web=1">
                ACP2 - A Guide to Cultural and Religious Diversity
            </a>
        </li>
        <li>
            <a href="https://rafac.sharepoint.com/:w:/s/interim/QM/EaNwtBklRrhImQgqrmOrejYB40AJoQIQmHkEkVPla3Gqgg?e=0nekDy&web=1">
                ACP5 - Health, Safety and Environmental Protection
            </a>
        </li>
        <li>
            <a href="https://rafac.sharepoint.com/:b:/s/interim/QM/ETFDSrxuCflNrXGwTBki6skBOJR2bGJveZDLQcX-1gZJOg?e=K8MiGP&web=1">
                AP818 - RAF Drill and Ceremonial
            </a>
        </li>
        <li>
            <a href="https://rafac.sharepoint.com/:w:/s/interim/QM/Eex9QL5dFdpFgeS8CaEcCdQBcfqkKVmQQFGM8_LNTDE0rw?e=TUtYTi&web=1">
                AP1358C - Uniform Dress and Appearance Regulations for the RAF Air Cadets
            </a>
        </li>
        <li>
            <a href="https://rafac.sharepoint.com/:w:/s/interim/QM/ESYwgPP9tyhJr7BWq0enJI8Bsuy5J_szoV1Kwx3o2cz2HA?e=yjTH9z&web=1">
                ACTO 001 - RAF Air Cadets Progressive Syllabus of Training
            </a>
        </li>
    </ul>
</section>
<section class="container">
    <h3>Forms</h3>
    <ul class="text-left">
        <li>
            <a href="https://rafac.sharepoint.com/:w:/s/interim/QM/EfhrSpaRhRNOrLMjvFDKJp8Bgkl25I-FjQAR69Y6lyhyAw?web=1">
                TG 21 - Cadet Activity Consent Form
            </a>
        </li>
        <li>
            <a href="https://rafac.sharepoint.com/:w:/r/sites/interim/QM/_layouts/15/Doc.aspx?sourcedoc=%7B517AFCD8-140E-47BC-904B-AA780CA58045%7D&file=TG%20Form%20022.docx&action=default&mobileredirect=true">
                TG 22 - Cadet Activity Consent Form
            </a>
        </li>
        <li>
            <a href="https://rafac.sharepoint.com/:w:/s/interim/QM/EVXEjgPn9rtCiLUW9b_dVHoBUkaEOvYgRbkLKswmQ-ksWQ?web=1">
                TG 23 - Health Declaration Form
            </a>
        </li>
        <li>
            <a href="https://rafac.sharepoint.com/:x:/s/interim/QM/EcT2Dx52vUJBnTG8QNrANPAB_-zkIXdFnjJ42RYqB4S0-Q?e=Wg0bGe&web=1">
                AVMed 1 - Flying Medical Declaration Form
            </a>
        </li>
    </ul>
</section>
<section class="container">
    <h3>Links</h3>
    <ul class="text-left">
        <li>
            <a href="/stores">
                Stores
            </a>
        </li>
        <li>
            <a href="https://bader.mod.uk">
                Bader
            </a>
        </li>
        <li>
            <a href="https://cadets.bader.mod.uk/">
                Cadet Portal
            </a>
        </li>
        <li>
            <a href="https://learning.bader.mod.uk">
                UltiLearn
            </a>
        </li>
    </ul>
</section>
<% include partials/foot/full %>
<% include partials/foot/htmlClose %>