:root {
    --main-bg-color-dark: #010a1f;
    --main-bg-color: 	  #131c43;
	--main-color:	      #B9CBE2;
	--alt-color:	      #31639e;
	--alt-color2:		  #1c3a5c;
} 
/* B9CBE2 */
/* 010a1f */
/* var(--main-color); */
/* #337ab7 */
/* #4f6a99 */
/* hover colour #0101a1f */