:root {
    --main-bg-color-dark: #010a1f;
    --main-bg-color: 	  #131c43;
	--main-color:	      #B9CBE2;
	--alt-color:	      #31639e;
	--alt-color2:		  #1c3a5c;
} 
/* B9CBE2 */
/* 010a1f */
/* var(--main-color); */
a {
	color: var(--main-color);
}

body {
	background-color: var(--main-bg-color);
	color: var(--main-color);
}
hr {
	color: var(--main-color);
}
.green {
	background-color: #bdffa3;
}
.red {
	background-color: #ffb7b7;
}
.bg-red {
	background-color: #ffb7b7;
	color: var(--main-bg-color);
}
.bg-light {
 	background-color: var(--main-color) !important;
}
.bg-dark {
	background-color: var(--main-bg-color-dark) !important;
}
.bg-nav {
	background-color: var(--main-bg-color);
}
.bordered {
	border: 3px solid var(--main-color);
}
.cardRed a{
	background-color: #ffb7b7;
	color: var(--main-bg-color);
}
.cardGreen a{
	background-color: #bdffa3;
	color: var(--main-bg-color);
}
.cardDarkText {
	color: var(--main-bg-color);
}
.dropdown-divider {
	color: var(--main-bg-color-dark);
	background-color: var(--main-color);
}
.dropdown-item:hover {
	color: var(--main-color);
	background-color: var(--main-bg-color-dark);
}
.dropdown-menu {
	color: var(--main-bg-color-dark);
	background-color: var(--main-color);
}
.list-group-item {
	color: var(--main-bg-color-dark);
}
.modal-header {
	color: var(--main-bg-color-dark);
	background-color: var(--main-color)
}
.modal-footer {
	color: var(--main-bg-color-dark);
	background-color: var(--main-color)
}
.modal-content {
	background-color: var(--main-bg-color)
}


.navbar-light .navbar-brand {
    color: var(--main-bg-color);
}
.navbar-dark .navbar-text {
	color: var(--main-color);
}

.navbar-nav .nav-item .nav-link:hover {
   background-color: var(--main-bg-color-dark);
   color: var(--main-color); 
}
.navbar-nav .nav-item .nav-link {
	background-color: var(--main-color);
	color: var(--main-bg-color);
}

.nav-tabs .nav-item .nav-link:hover {
	background-color: var(--main-bg-color-dark);
	color: var(--main-color) !important;
}
.nav-tabs .nav-link {
	background-color: var(--main-bg-color);
	color: var(--main-color);
}
.nav-tabs .nav-link.active {
	background-color: var(--main-color);
	color: var(--main-bg-color);
}


.pwd_warn {
	background: #f95056;
}
.toast-warn {
	background-color: #f95056;
	color: var(--main-bg-color-dark)
}
.toast-header {
	background-color: var(--main-color);
	color: var(--main-bg-color-dark)
}

table, th, td, thead {
	border: 1px solid var(--main-color);
}
.table {
	color: var(--main-color);
}
.table .thead-dark th {
	background-color: var(--main-color);
	color: var(--alt-color2);
}
.menu .card .card-header {
	color: var(--main-bg-color);
	background-color: var(--main-color);
}
.table-hover tbody tr:hover {
	color: var(--main-color);
}


.input-group-text {
	color: var(--alt-color2);
	background-color: var(--main-color);
}
.input-group label {
	color: var(--alt-color2);
	background-color: var(--main-color);
}

/* #337ab7 */
/* #4f6a99 */
/* hover colour #0101a1f */