@import "sizing.css";
@import "colours.css";
@media (min-width: 768px) {
	h1 {font-size: 2.9rem}
}
@media (min-width: 992px) {
	h1 {font-size: 3.6rem}
}

/* /////////////////////////////////////////////////////////////////// */
body {
	font-family: myriad-pro, sans-serif;
	text-align: center;
	font-size: 15px;
}
a {
	font-size: 25px;
}
h1 {
	font-size: 1.6rem;
}
input {
	text-align: center;
}
table {
	overflow-x: auto;
}
select {
	text-align-last: center;
}

/* /////////////////////////////////////////////////////////////////// */
#title {
	margin: 5px 5px 10px 5px;
}
#navigation {
	margin: 5px 0 5px 0;
	padding: 0;
}
#body {
	margin-bottom: 60px;
}
#ul_tree {
	margin: 0;
	padding: 0;
}

/* /////////////////////////////////////////////////////////////////// */
.alert {
	margin-top: 10px;
}
.a-label {
	font-size: 15px;
}
.ul_active {
	display: block !important;
	transition: 0.2s;
}
.body {
	margin-bottom: 37px;
	padding-bottom: 20px;
}
.bordered {
	padding: 10px;
}
.caret {
	cursor: pointer;
	user-select: none; /* Prevent text selection */
	vertical-align: middle;
}
.crests {
	padding: 0px;
}
.crest {
	height: 100px;
	padding: 0 5px;
	margin-left: auto;
	margin-right: auto;
}
button.dropdown-item {
	font-size: 25px;
}
.fb {
	height: 30px;
}
.form-control {
	text-align: center;
	text-align-last: center;
	margin-bottom: 5px;
}
.hidden {
	display: none
}
.nested {
	display: none;
	transition: 0.5s;
}
.nav-link {
	padding-top: 0;
	padding-bottom: 0;
}
.navbar {
	padding: 0;
}
.notification {
	width: 650px
}
.sqnName {
	text-align: center;
	margin: auto 0;
	padding: 0;
	font-weight: bold;
}
ul.navbar-nav li.nav-item a.nav-link {
	padding: 0 8px !important;
	margin: 0 2px !important;
}
.stores_nav {
	padding: 0 8px !important;
	margin: 0 2px !important;
}

/* /////////////////////////////////////////////////////////////////// */
.body .dropdown-item {
	padding-top: 0;
	padding-bottom: 0;
}
.body .nav-link {
	padding-top: 0;
	padding-bottom: 0;
}
.dropdown-item:hover {
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
}
div input {
	width: 100%;
}
.navbar-light .navbar-nav .nav-link {
	 padding-left: 30px;
	 padding-right: 30px;
}
.navbar-dark .navbar-nav .nav-link {
	padding-left: 30px;
	padding-right: 30px;
}
.nav-link:hover {
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
}
table, th, td, thead {
	border-collapse: collapse;
	font-size: 0.9rem;
}
tr.padded td {
	padding-left: 10px;
	padding-right: 10px;
}

td a {
	font-size: 1rem;
}

ul, #treeUL {
	list-style-type: none;
}
.caret::before {
	content: "\25B6";
	display: inline-block;
	margin-right: 6px;
}
.caret-down::before {
	transform: rotate(90deg);
}