@import "sizing.css";
@import "colour_schema.css";
@import "tables/core.css";
@import "tables/colours.css";
@media (min-width: 768px) {
	h1 {font-size: 2.9rem}
}
@media (min-width: 992px) {
	h1 {font-size: 3.6rem}
}

/* /////////////////////////////////////////////////////////////////// */
body {
	font-family: myriad-pro, sans-serif;
	text-align: center;
	font-size: 15px;
}
a {
	font-size: 25px;
}
h1 {
	font-size: 1.6rem;
}
input {
	text-align: center;
}
select {
	text-align-last: center;
}
/* /////////////////////////////////////////////////////////////////// */
#ul_tree {
	margin: 0;
	padding: 0;
}

/* /////////////////////////////////////////////////////////////////// */
.alert {
	margin-top: 10px;
}
.a-label {
	font-size: 15px;
}
.ul_active {
	display: block !important;
	transition: 0.2s;
}
.body {
	margin-bottom: 37px;
	padding-bottom: 20px;
}
.bordered {
	padding: 10px;
}
.caret {
	cursor: pointer;
	user-select: none;
	vertical-align: middle;
}
.sideways {
	transform: rotate(90deg);
}
.fixed {
	position: fixed;
	top: 100px;
	left: 0px;
	z-index: 9000;
}
.offcanvas {
	z-index: 9500;
}
.mb-60px {
	margin-bottom: 60px;
}
.form_inline {
	display: inline;
}
.form-control {
	text-align: center;
}
.hidden {
	display: none;
}
.inline-form {
	display: inline;
}
.nested {
	display: none;
	transition: 0.5s;
}
.notification {
	width: 650px
}
.div_toasts {
	position: relative;
}

div input {
	width: 100%;
}

ul, #treeUL {
	list-style-type: none;
}
.caret::before {
	content: "\25B6";
	display: inline-block;
	margin-right: 6px;
}
.caret-down::before {
	transform: rotate(90deg);
}

#consent_popup {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 1;
	background-color: white;
	z-index: 2000;
	transition: opacity 0.8s ease;
}