.w-5  {width: 5%  !important;}
.w-10 {width: 10% !important;}
.w-15 {width: 15% !important;}
.w-20 {width: 20% !important;}
.w-30 {width: 30% !important;}
.w-33 {width: 33% !important;}
.w-34 {width: 34% !important;}
.w-35 {width: 35% !important;}
.w-40 {width: 40% !important;}
.w-45 {width: 45% !important;}
.w-55 {width: 55% !important;}
.w-60 {width: 60% !important;}
.w-65 {width: 65% !important;}
.w-70 {width: 70% !important;}
.w-80 {width: 80% !important;}
.w-85 {width: 85% !important;}
.w-90 {width: 90% !important;}
.w-95 {width: 95% !important;}
.w-100-px {width: 150px;}
.h-5  {height: 5%  !important;}
.h-10 {height: 10% !important;}
.h-15 {height: 15% !important;}
.h-20 {height: 20% !important;}
.h-30 {height: 30% !important;}
.h-35 {height: 35% !important;}
.h-40 {height: 40% !important;}
.h-45 {height: 45% !important;}
.h-55 {height: 55% !important;}
.h-60 {height: 60% !important;}
.h-65 {height: 65% !important;}
.h-70 {height: 70% !important;}
.h-80 {height: 80% !important;}
.h-85 {height: 85% !important;}
.h-90 {height: 90% !important;}
.h-95 {height: 95% !important;}
.h-50-px {height: 50px;}
.h-100-px {height: 100px;}
.h-150-px {height: 150px;}
.h-200-px {height: 200px;}
.h-250-px {height: 250px;}
.h-300-px {height: 300px;}
.h-350-px {height: 350px;}
.h-400-px {height: 400px;}
.f-01 {font-size: 0.1rem;}
.f-02 {font-size: 0.2rem;}
.f-03 {font-size: 0.3rem;}
.f-04 {font-size: 0.4rem;}
.f-05 {font-size: 0.5rem;}
.f-06 {font-size: 0.6rem;}
.f-07 {font-size: 0.7rem;}
.f-08 {font-size: 0.8rem;}
.f-09 {font-size: 0.9rem;}
.f-10 {font-size: 1.0rem;}
.f-11 {font-size: 1.1rem;}
.f-12 {font-size: 1.2rem;}
.f-13 {font-size: 1.3rem;}
.f-14 {font-size: 1.4rem;}
.f-15 {font-size: 1.5rem;}
.f-16 {font-size: 1.6rem;}
.f-17 {font-size: 1.7rem;}
.f-18 {font-size: 1.8rem;}
.f-19 {font-size: 1.9rem;}
.f-20 {font-size: 2.0rem;}
.f-21 {font-size: 2.1rem;}
.f-22 {font-size: 2.2rem;}
.f-23 {font-size: 2.3rem;}
.f-24 {font-size: 2.4rem;}
.f-25 {font-size: 2.5rem;}
.f-26 {font-size: 2.6rem;}
.f-27 {font-size: 2.7rem;}
.f-28 {font-size: 2.8rem;}
.f-29 {font-size: 2.9rem;}
.f-30 {font-size: 3.0rem;}