.text-label {
    text-align: right;
}
.text-content {
    text-align: left;
}
form {
    display: flex; flex-direction: column;
}
.flex-container {
    display: flex; flex-direction: row
}
.bordered {
    border: 2px solid #B9CBE2;
    padding: 5px;
}
.details {
    text-align: right
}
.actionBtn {
    width: 75%;
}