table, th, td, thead {
	border: 1px solid #B9CBE2;
	border-collapse: collapse;
	font-size: 0.9rem;
}
tr.padded td {
	padding-left: 10px;
	padding-right: 10px;
}

.bg-dark {
	background-color: #010a1f !important;
}
.navbar-dark .navbar-nav .nav-link {
	color: #B9CBE2;
	padding-left: 30px;
	padding-right: 30px;
}
.navbar-dark .navbar-text {
	color: #B9CBE2;
}
.stores .nav-link:hover {
   background-color: #B9CBE2;
   color: #010a1f !important; 
}
.body .nav-link {
	padding-top: 0;
	padding-bottom: 0;
}
.bordered {
	padding: 10px;
	border: 3px solid #B9CBE2;
}

.alert {
	margin-top: 10px;
}
.pwd_warn {
	background: #f95056;
}
.form-control {
	text-align: center;
	text-align-last: center;
	margin-bottom: 5px;
}
.smallFont07 {
	font-size: 0.7rem;
}
td a {
	font-size: 1rem;
}
.dropdown_button {
	font-size: 25px;
}
.stores_nav {
	color: #31639e !important;
	background-color: #B9CBE2;
	padding: 0 8px !important;
	margin: 0 2px !important;
}
.bg-nav {
	background-color: #131c43;
}
table {
	overflow-x: auto;
	/* overflow-y: auto; */
}
/* .limit-height-200 {
	height: 100px;
} */
.table {
	color: #B9CBE2;
}
.table .thead-dark th {
	background-color: #010a1f;
	color: #B9CBE2;
}
/*menu colour #1c3a5c*/
/*back colour #31639e*/
/*text colour #B9CBE2*/
/* #337ab7 */
/* #4f6a99 */


/* background colour #131c43 */
/* hover colour #0101a1f */
/* hover text colour #B9CBE2 */