        </ul>
        <ul class="navbar-nav ms-auto">
            <% if (!user) { %>
                <%- include('./login') %>
            <% } else { %>
                <%- include('./notifications') %>
                <%- include('./user') %>
            <% } %>  
        </ul>
    </div>
</nav>
<%- include('../flash') %>