<li class="nav-item">
    <a class="nav-link" id='login_link' href="/login"><strong>Login</strong></a>
</li>
<script>
    set_href({id: 'login_link', value: `/login?redirect=${window.location.pathname}`})
</script>