<li class="nav-item dropleft">
    <a class="nav-link dropdown-toggle" href="#" id="dd_notification" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%- include(`${partials}/spinner`, {id: 'notifications', float_start: true}) %>
        <i class='fas fa-bell'></i>
    </a>
    <ul class="dropdown-menu" aria-labelledby="dd_notification" id='ul_notifications'></ul>
</li>
<script src="/js/notifications/show.js"></script>
<script src="/js/get.js"></script>
<script src="/js/spinner.js"></script>
<script async>getNotifications()</script>