<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= text %>
    </a>
    <div class="dropdown-menu">
        <% if (permissions.access_stores)   { %><a class='dropdown-item' href='/stores'  >Stores</a><% } %>
        <% if (permissions.access_canteen)  { %><a class='dropdown-item' href='/canteen' >Canteen</a><% } %>
        <% if (permissions.access_settings) { %><a class='dropdown-item' href='/settings'>Settings</a><% } %>
        <% if (permissions.access_susers)   { %><a class='dropdown-item' href='/users'   >Users</a><% } %>
    </div>
</li>