<% include ../../partials/head/full %>
<section class='mb-2'>
    <nav class='navbar navbar-expand navbar-light bg-nav'>
        <ul class='navbar-nav mr-auto'>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores'>Stores</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/issues'>Issues</a>
            </li>
        </ul>
    </nav>
</section>
<section class='container'>
	<%- include('../../partials/inputs/include_select', {id: 'completeSelect', title: 'Completed Issues', onChange: 'getIssues()', _default: 2}) %>
	<%- include('../../partials/inputs/include_select', {id: 'closedSelect',   title: 'Closed Issues', 	  onChange: 'getIssues()', _default: 2}) %>
	<%- include('../../partials/spinner', {id: 'issues'}) %>
	<table class="table table-sm table-hover">
		<thead class="thead-dark">
			<th class="w-40" onclick="sortTable(0, 'issueTable')">Issued To</th>
			<th class="w-30" onclick="sortTable(1, 'issueTable')">Date</th>
			<th class="w-10" onclick="sortTable(2, 'issueTable')">Lines</th>
			<th class="w-10" onclick="sortTable(3, 'issueTable')">Complete</th>
			<th class="w-10" onclick="sortTable(4, 'issueTable')">Closed</th>
			<th><i class="fas fa-search"></i></th>
		</thead>
		<tbody id="issueTable">
		</tbody>
	</table>
</section>
<% include ../../partials/foot/full %>
<script src='/js/get/issues.js'></script>
<script async>getIssues()</script>
<% include ../../partials/foot/htmlClose %>
