<div id='mdl_action_view' class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Action</h5>
            </div>
            <div class="modal-body">
                <%- include(`${partials}/inputs/display`, {id: 'action_action',    title: 'Action'}) %>
                <%- include(`${partials}/inputs/display`, {id: 'action_createdAt', title: 'Created'}) %>
                <%- include(`${partials}/inputs/display`, {id: 'action_user',      title: 'User', link: true}) %>
                <table class='table table-sm table-hover'>
                    <thead class='thead-dark'>
                        <th class='w-90'>Table</th>
                        <th class='w-10'>Active</th>
                        <th><i class='fas fa-search'></i></th>
                    </thead>
                    <tbody id='tbl_links'></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <p class='me-auto'>ID: <span id='action_id'></span></p>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>