<div class="tab-pane fade" id="actions" role="tabpanel" aria-labelledby="actions-tab">
    <%- include(`${partials}/sort`, {table: 'actions', small: true}) %>
    <table class='table table-sm table-hover'>
        <thead class='thead-dark'>
            <th class='w-40'>Date</th>
            <th class='w-60'>Action</th>
            <th><i class='fas fa-search'></i></th>
        </thead>
        <tbody id='tbl_actions'></tbody>
    </table>
    <%- include(`${partials}/limit`, {table: 'actions'}) %>
</div>