<div class="tab-pane fade" id="actions" role="tabpanel" aria-labelledby="actions-tab">
    <table class='table table-sm table-hover mt-1'>
        <thead class='thead-dark' id="tbl_actions_head">
            <th class='w-40' data-column='["createdAt"]' data-dir="ASC">Date</th>
            <th class='w-60' data-column='["action"]'>Action</th>
            <th><i class='fas fa-search'></i></th>
        </thead>
        <tbody id='tbl_actions'></tbody>
    </table>
    <%- include(`${partials}/limit`, {table: 'actions'}) %>
</div>