<form id="form_delete" class="mt-auto">
    <button
        id='btn_delete'
        type='button'
        class="btn btn-danger w-100"
        disabled
    >
<% if  (locals.text) { %>
        <%= text %>
<% } else { %>
        Delete
<% } %>
    </button>
</form>