<form id="form_<%= id %>"<% if (locals.align_bottom) { %> class="mt-auto"<% } %>>
    <button id='btn_<%= id %>' class="btn btn-<%= colour %> w-100 mb-1" disabled>
        <%= text %>
    </button>
</form>