<div id='div_toasts'>
    <div id='toast_alert' role="alert" aria-live="assertive" aria-atomic="true" class="toast">
        <div class="toast-header">
            <strong class="me-auto" id='alert_title'>Notification</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id='alert_text'></div>
    </div>
    <div id='toast_form' role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-bs-autohide="false">
        <div class="toast-header">
            <strong class="me-auto" id='alert_title'>Please Wait...</strong>
        </div>
        <div class="toast-body" id='alert_text'>
            The server is processing your request...
            <div class="spinner-border text-danger" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>