<ul class="navbar-nav ms-auto">
    <% if (!user) { %>
        <li class="nav-item">
            <a class="nav-link" id='login_link' href="/login"><strong>Login</strong></a>
        </li>
        <script>
            setHREF('login_link', `/login?redirect=${window.location.pathname}`)
        </script>
    <% } else { %>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dd_sites" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sites
            </a>
            <form method="POST">
                <ul class="dropdown-menu" aria-labelledby="dd_sites" id="dd_sites_list">
                </ul>
            </form>
            <script src="/js/common/sites/view.js" type="text/javascript"></script>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dd_user" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= user.rank.rank %> <%= user.full_name %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dd_user">
                <li><a class="dropdown-item" href="/users/<%= user.user_id %>">My Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
        </li>
    <% } %>  
</ul>