<section class="container">
    
<% if (info && info.length > 0) { %>
    <div class="alert alert-info" role="alert">
        <%= info %>
    </div>
<% } %>

<% if (danger && danger.length > 0) { %>
    <div class="alert alert-danger" role="alert">
        <%= danger %>
    </div>
<% } %>

<% if (success && success.length > 0) { %>
    <div class="alert alert-success" role="alert">
        <%= success %>
    </div>
<% } %>

</section>
<div class='toast-container top-2 end-0 p-3 w-25' id='div_toasts'></div>