<button
    class="btn btn-sm btn-primary<% if (locals.float) { %> float-start fixed sideways<% } else { %> w-100<% } %>"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#sdb_<%= id %>"
    aria-controls="sdb_<%= id %>"
>
    <%= text %>
</button>