@import "colour_schema.css";

.dropdown-divider {
	color: var(--main-bg-color-dark);
	background-color: var(--main-color);
}
.dropdown-item:hover {
	color: var(--main-color);
	background-color: var(--main-bg-color-dark);
}
.dropdown-menu {
	color: var(--main-bg-color-dark);
	background-color: var(--main-color);
}
.navbar-light .navbar-brand {
    color: var(--main-bg-color);
}
.navbar-dark .navbar-text {
	color: var(--main-color);
}
.navbar-nav .nav-item .nav-link:hover {
   background-color: var(--main-bg-color-dark);
   color: var(--main-color); 
}
.navbar-nav .nav-item .nav-link {
	background-color: var(--main-color);
	color: var(--main-bg-color);
}
.nav-tabs .nav-item .nav-link:hover {
	background-color: var(--main-bg-color-dark);
	color: var(--main-color) !important;
}
.nav-tabs .nav-link {
	background-color: var(--main-bg-color);
	color: var(--main-color);
}
.nav-tabs .nav-link.active {
	background-color: var(--main-color);
	color: var(--main-bg-color);
}