<%- include(`${partials}/head/site`) %>
<h1>Welcome to 1801 Alnwick Sqn</h1>
<p>This website is under construction</p>
<p>Please visit us at <a class='f-10' href="https://www.facebook.com/1801SquadronATC">1801SquadronATC on Facebook</a></p>

<%- include(`${partials}/foot/site`) %>