<% if (locals.append.a) { %>
    <div class="input-group-append">
        <a
            class='btn btn-<%= append.a.type %>'
            id='<%= append.a.id %>'
            <% if (locals.href) { %>href='<%= append.a.href %>'<% } %>
        >
            <%- append.a.text %>
        </a>
    </div>
<% } %>