<div class="input-group mb-1">
    <span class="input-group-text w-30">
        <%= title %>
    </span>
    <input
        class="form-control form-control-color mb-0 w-100"
        type="color"
        <% if (locals.id)   { %>id='<%= id %>'<% } %>
        <% if (locals.name) { %>name='<%= name %>'<% } %>
    >
</div>