<div class="input-group mb-1">
    <span class="input-group-text w-30">
        <%= title %>
    </span>
    <input
        class="form-control mb-0"
        type="date"
        required
        <% if (locals.id) { %>  id='<%= id %>'<% } %>
        <% if (locals.name) { %>name='<%= name %>'<% } %>
    >
</div>