<div class="input-group mb-1">
    <div class="input-group-prepend w-30">
        <span class="input-group-text w-100"><%= title %></span>
    </div>
    <p class="form-control"><%= text %></p>
</div>