<div class="input-group mb-1">
    <span class="input-group-text w-30">
        <% if (locals.confirm) { %>Confirm<% } else { %>Password<% } %>
    </span>
    <input
        class="form-control mb-0"
        type="password"
        autocomplete='<% if (locals.confirm) { %>off<% } else { %>current-password<% } %>'
        minlength='8'
        <% if (locals.id) { %>  id='<%= id %>'<% } %>
        <% if (locals.name) { %>name='<%= name %>'<% } %>
        required
    >
</div>