<div class="collapse mb-1" id="demands-filter">
    <%- include(`${partials}/filter/status`, {table: 'demands', statuses: [{text: 'Cancelled', value: '0', colour: 'secondary'}, {text: 'Draft', value: '1', colour: 'warning', checked: true}, {text: 'Complete', value: '2', colour: 'success', checked: true}, {text: 'Closed', value: '3', colour: 'secondary'}]}) %>
    <%- include(`${partials}/filter/date`,   {table: 'demands', field: 'createdAt'}) %>
</div>