<div class="offcanvas offcanvas-start" tabindex="-1" id="sdb_notes" aria-labelledby="sdb_notes_label">
    <%- include(`${partials}/sidebar/header`, {id: 'notes', text: 'Filter Notes'}) %>
    <div class="offcanvas-body d-flex flex-column">
        <div class="input-group mb-1">
            <span class="input-group-text w-30">Include</span>
            <select id="sel_notes_system" class="form-select" multiple size="2">
                <option value="0" selected>Non-System Notes</option>
                <option value="1">System Notes</option>
            </select>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h5 class='text-start'>Date From:</h5>
                <input type="date" class='form-control' id='note_createdAt_from'>
            </div>
            <div class="col-sm-6">
                <h5 class='text-start'>Date To:</h5>
                <input type="date" class='form-control' id='note_createdAt_to'>
            </div>
        </div>
    </div>
</div>