<div class="tab-pane fade" id="notes" role="tabpanel">
    <div class="row mb-1">
        <div class="col-12 col-md-4 mb-1">
            <%- include(`${partials}/button/modal/open`, {text: 'New Note', type: 'success', modal: 'note_add', classes: ['w-100'], small: true}) %>
        </div>
        <div class="col-12 col-md-4 mb-1">
            <select class='form-select form-select-sm' id='sel_system'>
                <option value="" >Include System Notes</option>
                <option value="0">Exclude System Notes</option>
                <option value="1">Only System Notes</option>
            </select>
        </div>
        <div class="col-12 col-md-4 mb-1 justify-content-center">
            <%- include(`${partials}/sort`, {table: 'notes'}) %>
        </div>
    </div>
	<table class="table table-sm table-hover">
        <thead class="thead-dark">
            <th class='w-30'>Date</th>
            <th class='w-70'>Note</th>
            <th><i class="fas fa-search"></i></th>
        </thead>
        <tbody id="tbl_notes"></tbody>
    </table>
    <%- include(`${partials}/limit`, {table: 'notes'}) %>
</div>