<div class="tab-pane fade" id="notes" role="tabpanel">
    <div id="div_notes_menu" class="mb-1">
        <span class="float-start">
            <%- include(`${partials}/button/modal/open`, {icon: 'plus-square', type: 'success', modal: 'note_add'}) %>
        </span>
    </div>
    <%- include(`${partials}/inputs/select`, {id: 'sel_system', title: 'System Notes', options: [{text: 'Include', value: ''}, {text: 'Exclude', value: '"system":"0"', selected: true}, {text: 'Only', value: '"system":"1"'}]}) %>
    <%- include(`${partials}/sort`, {table: 'notes'}) %>
	<table class="table table-sm table-hover">
        <thead class="thead-dark">
            <th class='w-30'>Date</th>
            <th class='w-70'>Note</th>
            <th><i class="fas fa-search"></i></th>
        </thead>
        <tbody id="tbl_notes"></tbody>
    </table>
    <%- include(`${partials}/limit`, {table: 'notes'}) %>
</div>