<%- include(`${partials}/tab_head`, {id: 'notes', title: 'Notes', spinner: 'notes', count_id: 'note'}) %>
<li class="nav-item">
    <a class="nav-link" role="tab" data-bs-toggle="modal" data-bs-target="#mdl_note_add">
        <i class="fas fa-plus-circle"></i>
    </a>
</li>