<aside id='consent_popup' class='hidden'>
    <p class='mt-3'>
        This site requires cookies to provide your user experience, continued use of this site constitutes acceptance of this cookie policy
        <a href="#" class="btn btn-sm btn-primary" id='btn_cookie_accept'>
            Close
        </a>
    </p>
</aside>