<div id='consent_popup' class='hidden'>
    <p>This site uses cookies to improve your user experience, continued use of this site constitutes acceptance of these cookie - <a href="#" id='btn_cookie_accept' class='a-label'>Close</a></p>
</div>