        <div id='consent_popup' class='hidden'>
            <p>This site uses cookies to improve your user experience, continued use of this site constitutes acceptance of this cookie - <a href="#" id='btn_cookie_accept'>Close</a></p>
        </div>
    </body>
</html>