<<<<<<< HEAD
        <%- include(`${partials}/foot/components/cookie_consent`) %>
=======
        <div id='consent_popup' class='hidden'>
            <p class='mt-3'>
                This site uses cookies to improve your user experience, continued use of this site constitutes acceptance of this cookie - 
                <a href="#" class="btn btn-sm btn-primary" id='btn_cookie_accept'>
                    Close
                </a>
            </p>
        </div>
>>>>>>> b9d00dda4008e1720f6aa73e02ad840b16ee192c
    </body>
</html>