<div class="modal fade" id="mdl_issue_add" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <form class="modal-content" id='form_issue_add'>
            <div class="modal-header">
                <h5 class="modal-title">Add Issue(s)</h5>
            </div>
            <div class="modal-body">
                <%- include(`${partials}/button/button`, {colour: 'success', type_att: true, id: 'issue_users', text: 'Add User(s)'}) %>
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <th class="w-40">Service #</th>
                        <th class="w-60">User</th>
                        <th><i class="fas fa-trash-alt"></i></th>
                    </thead>
                    <tbody id="tbl_issue_users_add"></tbody>
                </table>
                <%- include(`${partials}/inputs/number`, {title: 'Quantity', value: '1', min: '1', id: 'issue_add_qty'}) %>
                <%- include(`${partials}/button/button`, {colour: 'success', type_att: true, id: 'issue_sizes', text: 'Add Item(s)'}) %>
                <table class="table table-sm table-hover">
                    <thead class="thead-dark">
                        <th class="w-30">Item</th>
                        <th class="w-20">Size 1</th>
                        <th class="w-20">Size 2</th>
                        <th class="w-20">Size 3</th>
                        <th class="w-10">Quantity</th>
                        <th><i class="fas fa-trash-alt"></i></th>
                    </thead>
                    <tbody id="tbl_issue_sizes_add"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-success w-100" value='Add Issues'>
                <%- include(`${partials}/button/modal/close`) %>
            </div>
        </form>
    </div>
    <script src='/js/stores/issues/add.js'></script>
    <script src="/js/users/select/showWindow.js"></script>
    <script src='/js/stores/sizes/select/showWindow.js'></script>
</div>