<div class="modal fade" id="mdl_issue_add" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <form class="modal-content" id='form_issue_add'>
            <div class="modal-header">
                <h5 class="modal-title">Add Issue(s)</h5>
                <h6>This will issue ALL the items selected to ALL the users selected!</h6>
            </div>
            <div class="modal-body">
                <%- include(`${partials}/users/select`, {id: 'issue_users'}) %>
                <%- include(`${partials}/inputs/number`, {title: 'Quantity', value: '1', min: '1', id: 'issue_add_qty'}) %>
                <%- include(`${partials}/sizes/select`, {id: 'issue_sizes'}) %>
            </div>
            <%- include(`${partials}/modals/footer`, {submit: {text: 'Add Issues'}}) %>
        </form>
    </div>
    <script src='/js/stores/issues/add.js'></script>
    <script src="/js/users/select/showWindow.js"></script>
    <script src='/js/stores/sizes/select/showWindow.js'></script>
</div>