<%- include('../../partials/head/head') %>
<body>
<%- include('../../partials/head/flash') %>
<section id='body'>
<section class="container">
	<form id='stockForm'>
		<div class="input-group mb-1">
			<div class="input-group-prepend w-20">
				<span class="input-group-text w-100">Location</span>
			</div>
			<input type="text" class="form-control" name="_location" maxlength="20" value="<%= stock.location._location %>" required>
		</div>
		<div class="row">
			<div class="col-12">
				<input type="submit" class="btn btn-success confirm" value="Save">
				<a class="float-left" href="javascript:close()">Cancel</a>
			</div>
		</div>
	</form>
</section>
<% include ../../partials/foot/noNav %>
<script>
    window.addEventListener( "load", function () {
		addFormListener('stockForm', 'PUT', '/stores/stock/<%= stock.stock_id %>');
    });
</script>
<% include ../../partials/foot/htmlClose %>