<button
    <% if (locals.id) { %>id="btn_<%= id %>"<% } %>
    type='button'
    class="btn btn-lg btn-<%= type %>"
    role="tab"
    data-bs-toggle="modal"
    data-bs-target="#mdl_<%= modal %>"
    <% if (locals.disabled) { %>disabled<% } %>
>
    <i class="fas fa-<%= icon %>"></i>
</button>