<% include ../../partials/head/full %>
<section class='mb-2'>
    <nav class='navbar navbar-expand navbar-light bg-nav'>
        <ul class='navbar-nav mr-auto'>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores'>Stores</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/items'>Items</a>
            </li>
			<% if (permissions.item_add) { %>
				<li class='nav-item'>
					<a class='nav-link stores_nav' href='javascript:add("items",{"height":440})'>
						<i class='fas fa-plus'></i>
					</a>
				</li>
			<% } %>
        </ul>
    </nav>
</section>
<section class='container'>
	<% include ../../partials/itemOptions %>
	<input class='form-control' type='text' id='itemSearch' onkeyup='searchTable("itemTable", "itemSearch")' placeholder='Search by description...'>
	<%- include('../../partials/spinner', {id: 'items'}) %>
	<table class='table table-sm table-hover'>
		<thead class='thead-dark'>
			<th class='w-100' onclick='sortTable(0, "itemTable")'>Description</th>
			<th><i class='fas fa-search'></i></th>
		</thead>
		<tbody id='itemTable'>
		</tbody>
	</table>
</section>
<% include ../../partials/foot/full %>
<script src="/js/get/items.js"></script>
<script>
	window.addEventListener( "load", () => {
		['genders', 'categories', 'groups', 'types', 'subtypes'].forEach(table => {
			let _select = document.querySelector('#' + table + 'Select');
			_select.addEventListener("change", event => {
				getItems()
			});
		});
	});
</script>
<script async>getItems()</script>
<% include ../../partials/foot/htmlClose %>