<%- include('../../partials/head/head') %>
<body>
<%- include('../../partials/head/flash') %>
<section id='body'>
    <form id='itemForm'>
        <%- include('../../partials/inputs/text', {title: 'Description', name: 'item[_description]', placeholder: 'Required', maxLength: 45, required: true}) %>
        <% include ../../partials/itemOptions %>
        <%- include('../../partials/inputs/text', {title: 'Size Text', name: 'item[_size_text]', placeholder: 'Required', maxLength: 45, required: true}) %>
        <% include ../../partials/save_cancel %>
    </form>
<% include ../../partials/foot/noNav %>
<script>
    window.addEventListener( "load", function () {
        addFormListener('itemForm', 'POST', '/stores/items');
    });
</script>
<% include ../../partials/foot/htmlClose %>