<button class='btn btn-success mb-1 w-100' type='button' id='btn_<%= id %>'>Add Item(s)</button>
<table class="table table-sm table-hover">
    <thead class="thead-dark">
        <th class="w-30">Item</th>
        <th class="w-20">Size 1</th>
        <th class="w-20">Size 2</th>
        <th class="w-20">Size 3</th>
        <th class="w-10">Quantity</th>
        <th><i class="fas fa-trash-alt"></i></th>
    </thead>
    <tbody id="tbl_<%= id %>_add"></tbody>
</table>