<% include ../../partials/head/full %>
<section class='mb-2'>
    <nav class='navbar navbar-expand navbar-light bg-nav'>
        <ul class='navbar-nav mr-auto'>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores'>
                    Stores
                </a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/canteen'>
                    Canteen
                </a>
            </li>
        </ul>
    </nav>
</section>
<section class='container'>
	<div class="row container m-auto p-0 menu">
        <% if (Number(session_id) !== -1) { %>
            <div class="col-6 col-lg-4 col-xl-3">
                <div class="card m-3">
                    <a href="/stores/canteen/pos">
                        <div class="card-header">
                            <h3>Point of Sale</h3>
                        </div>
                        <div class="card-body">
                            <i class="fas fa-cash-register fa-5x"></i>
                        </div>
                    </a>
                </div>
            </div>
        <% } %>
		<div class="col-6 col-lg-4 col-xl-3">
            <div class="card m-3">
                <a href="/stores/canteen/items">
                    <div class="card-header">
                        <h3>Items</h3>
                    </div>
                    <div class="card-body">
                        <i class="fas fa-candy-cane fa-5x"></i>
                    </div>
                </a>
            </div>
        </div>
        <% if (permissions.canteen_supervisor) { %>
            <div class="col-6 col-lg-4 col-xl-3">
                <div class="card m-3">
                    <a href="/stores/canteen/sessions">
                        <div class="card-header">
                            <h3>Sessions</h3>
                        </div>
                        <div class="card-body">
                            <i class="fas fa-list fa-5x"></i>
                        </div>
                    </a>
                </div>
            </div>
        <% } %>
	</div>
</section>
<% include ../../partials/foot/full %>
<% include ../../partials/foot/htmlClose %>