<% include ../../partials/head/full %>
<section class='mb-2'>
	<nav class='navbar navbar-expand navbar-light bg-nav'>
		<ul class='navbar-nav mr-auto'>
			<li class='nav-item'>
				<a class='nav-link stores_nav' href='/stores'>Stores</a>
			</li>
			<li class='nav-item'>
				<a class='nav-link stores_nav' href='/stores/demands'>Demands</a>
			</li>
		</ul>
	</nav>
</section>
<section class='container'>
	<%- include('../../partials/spinner', {id: 'suppliers'}) %>
	<div class="input-group mb-2">
		<div class="input-group-prepend w-20">
			<label class="input-group-text w-100" for="suppliersSelect">Suppliers</label>
		</div>
		<select class="custom-select" id='suppliersSelect' onchange=getDemands()>
		</select>
	</div>
	<%- include('../../partials/inputs/include_select', {id: 'completeSelect', title: 'Completed Demands', onChange: 'getDemands()', _default: 1}) %>
	<%- include('../../partials/inputs/include_select', {id: 'closedSelect',   title: 'Closed Demands',    onChange: 'getDemands()', _default: 2}) %>
	<%- include('../../partials/spinner', {id: 'demands'}) %>
	<table class="table table-sm table-hover">
		<thead class="thead-dark">
			<th class="w-25" onclick="sortTable(0, 'demandTable')">Supplier</th>
			<th class="w-20" onclick="sortTable(1, 'demandTable')">Date</th>
			<th class="w-25" onclick="sortTable(2, 'demandTable')">Raised By</th>
			<th class="w-10" onclick="sortTable(3, 'demandTable')">Lines</th>
			<th class="w-10" onclick="sortTable(4, 'demandTable')">Complete</th>
			<th class="w-10" onclick="sortTable(5, 'demandTable')">Closed</th>
			<th><i class="fas fa-search"></i></th>
		</thead>
		<tbody id="demandTable">
		</tbody>
	</table>
</section>
<% include ../../partials/foot/full %>
<script src="/js/get/suppliers.js"></script>
<script src="/js/get/demands.js"></script>
<script defer>getSuppliers()</script>
<script defer>getDemands()</script>
<% include ../../partials/foot/htmlClose %>