<% include ../../partials/head/full %>
<section class='mb-2'>
    <nav class='navbar navbar-expand navbar-light bg-nav'>
        <ul class='navbar-nav mr-auto'>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores'>Stores</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/settings'>Settings</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/settings'>Genders</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/genders/new'>New</a>
            </li>
        </ul>
    </nav>
</section>
<section class='container'>
	<div class='row'>
		<div class='col-12 col-lg-3 mx-auto'>
			<div class='container bordered'>
				<h4>Gender</h4>
				<div>
					<form action='/stores/genders' method='POST'>
						<div class='mb-2'>
							<input class='form-control' type='text' name='gender[_gender]' maxlength='20' placeholder='Gender' required>
						</div>
						<input class='btn btn-success w-100 confirm' type='submit' value='Save'>
					</form>
                </div>
			</div>
		</div>
    </div>
</section>
<% include ../../partials/foot/full %>
<% include ../../partials/foot/htmlClose %>
