<% include ../../partials/head/head %>
<body>
<% include ../../partials/head/flash %>
<section id='body'>
<section class="container">
    <form id='noteForm'>
        <textarea class="form-control" name="note[_note]" rows="19" maxlength="1000" required><%= note._note %></textarea>
        <% include ../../partials/save_cancel %>
    </form>
</section>
<% include ../../partials/foot/noNav %>
<script>
    window.addEventListener( "load", function () {
        addFormListener('noteForm', 'PUT', '/stores/notes/<%= note.note_id %>');
    });
</script>
<% include ../../partials/foot/htmlClose %>