<% include ../../partials/head/full %>
<section class='mb-2'>
    <nav class='navbar navbar-expand navbar-light bg-nav'>
        <ul class='navbar-nav mr-auto'>
			<li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores'>
                    Stores
                </a>
			</li>
			<li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores'>
                    Notes
                </a>
			</li>
			<li class='nav-item'>
                <a class='nav-link stores_nav' href='/stores/notes/new'>
                    New
                </a>
			</li>
        </ul>
    </nav>
</section>
<section class='container'>
    <div class='row'>
        <div class='col-12 col-lg-6 bordered mx-auto'>
            <form action='/stores/notes' method='POST'>
                <div class='row mb-2'>
                    <div class='col-12'>
                        <h3>New Note For Record:</h3>
                        <div class='row'>
                            <div class='col-6'>
                                <input class='form-control' type='text' name='note[_table]' value='<%= link.table %>' readonly>
                            </div>
                            <div class='col-6'>
                                <input class='form-control' type='text' name='note[_id]' value='<%= link.id %>' readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-12'>
                        <textarea class='form-control' name='note[_note]' rows='10' maxlength='1000' required></textarea>
                    </div>
                    <div class="col-12">
                        <input class='btn btn-success col-12 confirm' type='submit' value='Save'>
                        <a class='float-left' href='/stores/<%= link.table %>/<%= link.id %>'>Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<% include ../../partials/foot/full %>
<% include ../../partials/foot/htmlClose %>