<div class="row">
    <div class="col-sm-6">
        <h5 class='text-start'>Date From:</h5>
        <input type="date" class='form-control' id='filter_<%= table %>_<%= field %>_from'>
    </div>
    <div class="col-sm-6">
        <h5 class='text-start'>Date To:</h5>
        <input type="date" class='form-control' id='filter_<%= table %>_<%= field %>_to'>
    </div>
</div>