<div class="input-group mb-1">
	<span class="input-group-text w-30">Date</span>
    <input type="date" class='form-control' id='filter_<%= table %>_createdAt_from'>
    <input type="date" class='form-control' id='filter_<%= table %>_createdAt_to'>
</div>