<div class="input-group mb-1">
	<span class="input-group-text w-30">Size</span>
    <input type="text" class='form-control' id='filter_<%= table %>_size_1'>
    <input type="text" class='form-control' id='filter_<%= table %>_size_2'>
    <input type="text" class='form-control' id='filter_<%= table %>_size_3'>
</div>