<div class="row">
    <div class="col-12">
        <h5 class='text-start'>Item:</h5>
        <input type="text" class='form-control' id='filter_<%= table %>_item'>
    </div>
    <div class="col-sm-4">
        <h5 class='text-start'>Size 1:</h5>
        <input type="text" class='form-control' id='filter_<%= table %>_size_1'>
    </div>
    <div class="col-sm-4">
        <h5 class='text-start'>Size 2:</h5>
        <input type="text" class='form-control' id='filter_<%= table %>_size_2'>
    </div>
    <div class="col-sm-4">
        <h5 class='text-start'>Size 3:</h5>
        <input type="text" class='form-control' id='filter_<%= table %>_size_3'>
    </div>
</div>