<div class="row">
    <div class="col-12">
        <h5 class='text-start'>Item:</h5>
        <input type="text" class='form-control' id='filter_item' name='filter[item]'>
    </div>
    <div class="col-sm-4">
        <h5 class='text-start'>Size 1:</h5>
        <input type="text" class='form-control' id='filter_size_1' name='filter[size][size1]'>
    </div>
    <div class="col-sm-4">
        <h5 class='text-start'>Size 2:</h5>
        <input type="text" class='form-control' id='filter_size_2' name='filter[size][size2]'>
    </div>
    <div class="col-sm-4">
        <h5 class='text-start'>Size 3:</h5>
        <input type="text" class='form-control' id='filter_size_3' name='filter[size][size3]'>
    </div>
</div>