<div class="row">
    <div class="col-6">
        <h5 class='text-start'>Sort By:</h5>
        <select class="form-select" id='sort_<%= table %>'></select>
    </div>
    <div class="col-6">
        <h5 class='text-start'>Asc/Desc:</h5>
        <select class="form-select" id='sort_<%= table %>_dir'></select>
    </div>
</div>