<div class="row mb-1">
    <div class="col-12 col-md-6">
        <%- include(`${partials}/inputs/select`, {title: 'Sort By',  id: `sort_${table}`}) %>
    </div>
    <div class="col-12 col-md-6">
        <%- include(`${partials}/inputs/select`, {title: 'Asc/Desc', id: `sort_${table}_dir`, options: [{value: 'ASC', text: 'Ascending', selected: true}, {value: 'DESC', text: 'Descending'}]}) %>
    </div>
</div>