<div class="input-group mb-1">
	<span class="input-group-text w-30">User</span>
    <select class="form-select" id='filter_<%= table %>_user'></select>
    <button class="btn btn-primary" type="button" id="btn_users_reload"><i class="fas fa-redo"></i></button>
</div>