<% if (permissions.note_add) { %>
    <a id='note_add' class='dropdown-item'>
        Add Note
    </a>
    <script>
        let btn_add_note = document.querySelector('#note_add');
        btn_add_note.setAttribute('href',`javascript:add("notes",{"queries":"table=${path[2]}&id=${path[3]}"})`);
    </script>
<% } %>