<% if (permissions.note_add) { %>
    <button id='btn_add_note' class='dropdown-item dropdown_button'>
        Add Note
    </button>
    <script>
        let btn_add_note = document.querySelector('#btn_add_note');
        btn_add_note.addEventListener('click', function () {$('#mdl_add_note').modal('show')});
    </script>
<% } %>