<% if (permissions.note_add) { %>
    <a id='note_add' class='dropdown-item'>
        Add Note
    </a>
    <script>
        let btn_add_note = document.querySelector('#note_add');
        btn_add_note.href = 'javascript:add("notes",{"queries":"table=' + path[1] + '&id=' + path[2] + '"})';
    </script>
<% } %>