<% if (permissions.access_notes) { %>
    <div class="input-group mb-2">
        <div class="input-group-prepend w-30">
            <label class="input-group-text w-100" for="sel_system">System Notes</label>
        </div>
        <select class="custom-select" id='sel_system' onchange=getNotes()>
            <option value="">Include</option>
            <option value="_system=0" selected>Exclude</option>
            <option value="_system=1">Only</option>
        </select>
    </div>
    <table class="table table-sm table-hover">
        <thead class="thead-dark">
            <th class="w-30" onclick="sortTable(0, 'tbl_notes')"><%- include(`${partials}/spinner`, {id: 'notes', spinner_sm: true, spinner_float_left: true}) %>Date</th>
            <th class="w-70" onclick="sortTable(1, 'tbl_notes')">Note</th>
            <th><i class="fas fa-search"></i></th>
        </thead>
        <tbody id="tbl_notes">
        </tbody>
    </table>
    <div id="note_modals"></div>
<% } %>