<% if (permissions.access_notes) { %>
    <%- include(`${partials}/inputs/select`, {id: 'sel_system', title: 'System Notes', options: [{text: 'Include', value: ''}, {text: 'Exclude', value: '_system=0', selected: true}, {text: 'Only', value: '_system=1'}]}) %>
    <table class="table table-sm table-hover">
        <thead class="thead-dark">
            <th class="w-30" onclick="sortTable(0, 'tbl_notes')">Date</th>
            <th class="w-70" onclick="sortTable(1, 'tbl_notes')">Note</th>
            <th><i class="fas fa-search"></i></th>
        </thead>
        <tbody id="tbl_notes"></tbody>
    </table>
    <div id="note_modals"></div>
    <% if (permissions.note_add) { %>
        <div id='mdl_add_note' class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <form class="modal-content" id='form_add_note'>
                    <div class="modal-header">
                        <h5 class="modal-title">Add Note</h5>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name='note[_table]' id='_table'>
                        <input type="hidden" name='note[_id'     id='_id'>
                        <%- include(`${partials}/inputs/textarea`, {name: 'note[_note]', id: '_note', title: 'Notes', maxlength: 1000, rows: 5, required: true}) %>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success w-100 confirm" value='Save Note'>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    <% } %>
<% } %>