<% if (permissions.access_notes) { %>
    <li class="nav-item">
        <a class="nav-link" id="notes-tab" data-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-selected="true">
            Notes (<span id='note_count'></span>)
        </a>
    </li>
<% } %>