<% if (permissions.access_notes) { %>
    <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">
        <div class="input-group mb-2">
            <div class="input-group-prepend w-30">
                <label class="input-group-text w-100" for="sel_system">System Notes</label>
            </div>
            <select class="custom-select" id='sel_system' onchange=getNotes()>
                <option value="">Include</option>
                <option value="_system=0" selected>Exclude</option>
                <option value="_system=1">Only</option>
            </select>
        </div>
        <table class="table table-sm table-hover">
            <thead class="thead-dark">
                <th class="w-25" onclick="sortTable(0, 'notesTable')">Date</th>
                <th class="w-10" onclick="sortTable(1, 'notesTable')">Sys</th>
                <th class="w-45" onclick="sortTable(2, 'notesTable')">Note</th>
                <th class="w-20" onclick="sortTable(3, 'notesTable')">User</th>
                <th><i class="fas fa-pencil-alt"></i></th>
                <% if (permissions.note_delete) { %><th><i class='fas fa-trash-alt'></i></th><% } %>
            </thead>
            <%- include('../../partials/spinner', {id: 'notes'}) %>
            <tbody id="notesTable">
            </tbody>
        </table>
        <script src="/js/get.js"></script>
        <script src="/js/spinner.js"></script>
        <script src="/js/data/XHRsend.js"></script>
        <script src="/js/data/send.js"></script>
        <script src="/js/notes/showNotes.js"></script>
        <script>
            getNotes = () => get(showNotes, {table: 'notes', query: note_query(), delete_permission: <%= permissions.note_delete || false %>});
            document.querySelector('#reload').addEventListener('click', () => getNotes());
            // let select = document.querySelector('#sel_system');
            // select.addEventListener('change', event => getNotes())
        </script>
        <script async>getNotes()</script>
    </div>
<% } %>