<button class='btn btn-success mb-1 w-100' type='button' id='btn_<%= id %>'>Add User(s)</button>
<table class="table table-sm table-hover">
    <thead class="thead-dark">
        <th class="w-40">Service #</th>
        <th class="w-60">User</th>
        <th><i class="fas fa-trash-alt"></i></th>
    </thead>
    <tbody id="tbl_<%= id %>_add"></tbody>
</table>