<%- include('../../partials/head/head') %>
<body>
<%- include('../../partials/head/flash') %>
<section id='body'>
<section class='container pt-3'>
    <form id='nsnForm'>
        <input type='hidden' name='nsn[size_id]' value='<%= itemsize.size_id %>'>
        <div class="input-group mb-1">
            <div class="input-group-prepend w-20">
                <span class="input-group-text w-100">NSN</span>
            </div>
            <input class='form-control' type='text' name='nsn[_nsn]' maxlength='20' placeholder='NSN' required>
        </div>
		<div class="input-group mb-1">
			<div class="input-group-prepend w-20">
				<span class="input-group-text w-100">Default?</span>
			</div>
			<select class='form-control' name="default">
				<option value="0" selected>No</option>
				<option value="1">Yes</option>
			</select>
		</div>
        <input class='btn btn-success confirm w-100' type='submit' value='Save'>
        <a class='float-left' href="javascript:close()">Cancel</a>
    </form>
</section>
<% include ../../partials/foot/noNav %>
<script>
    window.addEventListener( "load", function () {
        let form = document.querySelector("#nsnForm");
        form.addEventListener("submit", function (event) {
            event.preventDefault();
            sendData(form, 'POST', '/stores/nsns');
        });
    });
</script>
<% include ../../partials/foot/htmlClose %>
