<% include ../../partials/head/full %>
<section class="mb-2">
	<nav class="navbar navbar-expand navbar-light bg-nav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores">Stores</a>
			</li>
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores/suppliers">Suppliers</a>
			</li>
		</ul>
	</nav>
</section>
<% if (permissions.suppliers_add) { %>
<section>
	<nav class="navbar navbar-expand navbar-dark bg-dark stores">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/stores/suppliers/new">New Supplier</a>
			</li>
		</ul>
	</nav>
</section>
<% } %>
<div class="container mt-3 pt-3 mx-auto row">
	<div class="col-12 col-md-6 mx-auto">
		<table class="table table-sm table-hover mx-auto w-100">
			<thead class="thead-dark">
				<th class="w-40">Supplier Name</th>
			</thead>
			<tbody>
				<% suppliers.forEach((supplier) => { %>
					<tr>
						<td><a href="/stores/suppliers/<%= supplier.supplier_id %>"> <%= supplier._name %></a></td>
					</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
</div>
<% include ../../partials/foot/full %>
<% include ../../partials/foot/htmlClose %>