<% include ../../partials/head/full %>
<section class="mb-2">
	<nav class="navbar navbar-expand navbar-light bg-nav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores">Stores</a>
			</li>
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores/suppliers">Suppliers</a>
			</li>
			<% if (permissions.supplier_add) { %>
				<li class="nav-item">
					<a class="nav-link stores_nav cardGreen" href='javascript:add("suppliers",{"height":572})'>
						<i class='fas fa-plus'></i>
					</a>
				</li>
			<% } %>
		</ul>
	</nav>
</section>
<div class="container row m-auto p-0 menu">
	<% suppliers.forEach(supplier => { %>
		<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
			<div class="card m-3 text-left">
				<a href="/stores/suppliers/<%= supplier.supplier_id %>">
					<div class="card-header">
						<h3 class="card-title"><%= supplier._name %></h3>
						<% if (Number(supplier.supplier_id) === Number(_default)) { %>
							<p class="card-subtitle text-muted f-10">Default</p>
						<% } %>
					</div>
					<div class="card-body">
						<p class='f-10'>Items: <%= supplier.sizes.length %></p>
					</div>
				</a>
			</div>
		</div>
	<% }) %>
</div>
<% include ../../partials/foot/full %>
<% include ../../partials/foot/htmlClose %>