<% include ../../partials/head/full %>
<section class="mb-2">
	<nav class="navbar navbar-expand navbar-light bg-nav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores">Stores</a>
			</li>
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores/suppliers">Suppliers</a>
			</li>
		</ul>
	</nav>
</section>
<% if (permissions.suppliers_add) { %>
	<section>
		<nav class="navbar navbar-expand navbar-dark bg-dark stores">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/stores/suppliers/new">New Supplier</a>
				</li>
			</ul>
		</nav>
	</section>
<% } %>
<div class="container row m-auto p-0 menu">
	<% suppliers.forEach(supplier => { %>
		<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
			<div class="card m-3 text-left">
				<div class="card-header">
					<a class="float-right btn btn-sm btn-primary" href="/stores/suppliers/<%= supplier.supplier_id %>">
						<i class="fas fa-search"></i>
					</a>
					<h3 class="card-title"><%= supplier._name %></h3>
					<% if (Number(supplier.supplier_id) === Number(_default)) { %>
						<p class="card-subtitle text-muted">Default</p>
					<% } %>
				</div>
				<div class="card-body">
					<p>Items: <%= supplier.item_sizes.length %></p>
				</div>
			</div>
		</div>
	<% }) %>
</div>
<% include ../../partials/foot/full %>
<% include ../../partials/foot/htmlClose %>