<% include ../../partials/head/full %>
<section class="mb-2">
	<nav class="navbar navbar-expand navbar-light bg-nav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores">Stores</a>
			</li>
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores/suppliers">Suppliers</a>
			</li>
			<% if (permissions.supplier_add) { %>
				<li class="nav-item">
					<a class="nav-link stores_nav cardGreen" href='javascript:add("suppliers",{"height":572})'>
						<i class='fas fa-plus'></i>
					</a>
				</li>
			<% } %>
		</ul>
	</nav>
</section>
<section class="container">
	<div id='spn_suppliers' class="spinner-border text-primary" role="status">
		<span class="sr-only">Loading...</span>
	</div>
	<div class='menu row' id="suppliers">
	</div>
	</section>
<% include ../../partials/foot/full %>
<script src='/js/specific/suppliers_index.js'></script>
<script async>getSuppliers(<%= _default %>)</script>
<% include ../../partials/foot/htmlClose %>