<%- include('../../partials/head/head') %>
<body>
<%- include('../../partials/head/flash') %>
<section id='body'>
<section class="container">
    <form id='supplierForm'>
        <div class="input-group mb-1">
            <div class="input-group-prepend w-35">
                <span class="input-group-text w-100">Supplier Name</span>
            </div>
            <input class="form-control" id="_name" name="supplier[_name]" type="text" placeholder="Required" maxlength="20" required>
        </div>
        <div class="input-group mb-1">
            <div class="input-group-prepend w-35">
                <span class="input-group-text w-100">Address</span>
            </div>
            <input class="form-control" id="_address1" name="supplier[_address1]" type="text" placeholder="Required" maxlength="45" required>
        </div>
        <div class="input-group mb-1">
            <div class="input-group-prepend w-35">
                <span class="input-group-text w-100"></span>
            </div>
            <input class="form-control" name="supplier[_address2]" type="text" maxlength="45">
        </div>
        <div class="input-group mb-1">
            <div class="input-group-prepend w-35">
                <span class="input-group-text w-100"></span>
            </div>
            <input class="form-control" name="supplier[_address3]" type="text" maxlength="45">
        </div>
        <div class="input-group mb-1">
            <div class="input-group-prepend w-35">
                <span class="input-group-text w-100"></span>
            </div>
            <input class="form-control" name="supplier[_address4]" type="text" maxlength="45">
        </div>
        <div class="input-group mb-1">
            <div class="input-group-prepend w-35">
                <span class="input-group-text w-100"></span>
            </div>
            <input class="form-control" name="supplier[_address5]" type="text" maxlength="45">
        </div>
        <div class="input-group mb-1">
            <div class="input-group-prepend w-35">
                <span class="input-group-text w-100">Telephone</span>
            </div>
            <input class="form-control" id="_telephone" name="supplier[_telephone]" type="text" placeholder="Telephone" maxlength="20">
        </div>
        <div class="input-group mb-1">
            <div class="input-group-prepend w-35">
                <span class="input-group-text w-100">Email</span>
            </div>
            <input class="form-control" id="_email" name="supplier[_email]" type="text" placeholder="address@domain.com" maxlength="255">
        </div>
        <div class="input-group mb-1">
            <div class="input-group-prepend w-35">
                <span class="input-group-text w-100">RAF Stores?</span>
            </div>
            <select name="supplier[_stores]" class="form-control">
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select>
        </div>
        <div class="input-group mb-1">
            <div class="input-group-prepend w-35">
                <span class="input-group-text w-100">Create Demand File?</span>
            </div>
            <select name="supplier[_raise_demand]" class="form-control">
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select>
        </div>
        <div class="input-group mb-1">
            <div class="input-group-prepend w-35">
                <span class="input-group-text w-100">Make default?</span>
            </div>
            <select name="default" class="form-control">
                <option value="0">No</option>
                <option value="1">Yes</option>
            </select>
        </div>
        <input class="btn btn-success w-100 confirm" type="submit" value='Save'>
        <a class='float-left' href='javascript:close()'>Cancel</a>
    </form>
</section>
<% include ../../partials/foot/noNav %>
<script>
    window.addEventListener( "load", function () {
        addFormListener('supplierForm', 'POST', '/stores/suppliers');
    });
</script>
<% include ../../partials/foot/htmlClose %>