<div class="row">
    <div class="crests col-12 col-md-6 col-lg-5 col-xl-4">
        <a href="https://www.raf.mod.uk/aircadets/"><img class="crest" src="/images/logos_aircadets_raf.png" alt="RAFAC Logo"></a>
        <a href="/"><img class="crest" src="/images/1801Crest.png" alt="1801 Squadron Crest"></a>
    </div>
    <div class="sqnName col-12 col-md-6 col-lg-7 col-xl-8">
        <h1><strong>1801 (Alnwick)<span class="d-none d-md-inline d-lg-none"><br></span><span class="d-inline d-md-none d-lg-inline"> </span>Squadron ATC</strong></h1>
    </div>
</div>