<% if (permissions[permission]) { %>
    <button type='button' class='dropdown-item' id='btn_sizeSelect' data-bs-toggle='modal' data-bs-target='#mdl_size_select' disabled>
        Add Item
    </button>
<% } %>