<% include ../../partials/head/full %>
<section class="mb-2">
	<nav class="navbar navbar-expand navbar-light bg-nav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores">Stores</a>
			</li>
			<li class="nav-item">
				<a class="nav-link stores_nav" href="/stores/users">Users</a>
			</li>
			<% if (permissions.user_add) { %>
				<li class="nav-item">
					<a class="nav-link stores_nav cardGreen" href='javascript:add("users",{"height":445})'>
						<i class='fas fa-plus'></i>
					</a>
				</li>
			<% } %>
		</ul>
	</nav>
</section>
<section>
	<div class="container">
		<div class="input-group mb-2">
			<div class="input-group-prepend w-30">
				<label class="input-group-text w-100" for="sel_status">Displaying</label>
			</div>
			<select class="custom-select" id='sel_status' onchange=getUsers()>
				<% statuses.forEach(status => { %>
					<option value="<%= status.status_id %>"<% if (Number(status.status_id) === 1){ %> selected<% } %>>
						<%= status._status %>
					</option>
				<% }) %>
			</select>
		</div>
		<div id='spn_users' class="spinner-border text-primary" role="status">
			<span class="sr-only">Loading...</span>
		</div>
		<table class="table table-sm table-hover">
			<thead class="thead-dark">
				<th class="w-40" onclick="sortTable(0, 'userTable')">Bader/Service #</th>
				<th class="w-10" onclick="sortTable(1, 'userTable')">Rank</th>
				<th class="w-40" onclick="sortTable(2, 'userTable')">Surname</th>
				<th class="w-10" onclick="sortTable(3, 'userTable')">Initials</th>
				<th><i class='fas fa-search'></i></th>
			</thead>
			<tbody id="userTable">
			</tbody>
		</table>
	</div>
</section>
<% include ../../partials/foot/full %>
<script src="/js/specific/users_index.js"></script>
<script async>getUsers()</script>
<% include ../../partials/foot/htmlClose %>