<% include ../../partials/head/full %>
<section class="mb-2">
    <nav class="navbar navbar-expand navbar-light bg-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores">Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/users">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link stores_nav" href="/stores/users/new">New</a>
            </li>
        </ul>
    </nav>
</section>
<section class="row">
    <div class="col-md-9 col-xl-6 container bordered">
        <form action="/stores/users" method="POST">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="col-form-label" for="_bader">Bader #:</label>
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control" id="_bader" name="user[_bader]" type="text" placeholder="Bader or Service #" maxlength="20" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="col-form-label">Rank:</label>
                    </div>
                    <div class="col-sm-8">
                        <select class="form-control" name="user[rank_id]" type="text">
                            <% classes.ranks.forEach(rank => { %>
                                <option value="<%= rank.rank_id %>"><%= rank._rank %></option>         
                            <% }) %>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="col-form-label">Name:</label>
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control" id="_name" name="user[_name]" type="text" placeholder="Surname" maxlength="50" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="col-form-label">Initials:</label>
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control" id="_ini" name="user[_ini]" type="text" placeholder="Initials" maxlength="5">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="col-form-label">Status:</label>
                    </div>
                    <div class="col-sm-8">
                        <select class="form-control" name="user[status_id]" type="text" >
                            <% classes.statuses.forEach((status) => { %>
                                <% if (status.status_id !== 4) { %>
                                    <option value="<%= status.status_id %>"><%= status._status %></option>
                                <% } %>
                            <% }) %>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="col-form-label" for="_login_id">Login ID:</label>
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control" id="_login_id" name="user[_login_id]" type="text" maxlength="30" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="col-form-label">Password:</label>
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control" id="_password" name="_password" type="password" password minlength="8" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="col-form-label">Confirm Password:</label>
                    </div>
                    <div class="col-sm-8">
                        <input class="form-control" id="_confirm" type="password" password minlength="8" required>
                    </div>
                </div>
                <input class="btn btn-primary w-100 confirm" id='_submit' type="submit" value='Save'>
                <a class='float-left' href="/stores/users">Cancel</a>
            </div>
        </form>
    </div>
</section>
<% include ../../partials/foot/full %>
<script src="/js/loginBaderMirror.js"></script>
<script src="/js/newUserFieldCheck.js"></script>
<% include ../../partials/foot/htmlClose %>